* {
  margin: 0;
  padding: 0;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
/*début header*/
header {
  background-image: url(../img/backgroundhead.png);
  background-size: 100% 100%;
  /*height: 550px;*/
  padding: 0;
}
/*début menu burger*/
.navbar-toggle .icon-bar {
    background: #fff;
}
/*fin menu burger*/
.navbar-header {
  position: relative;
}
.navbar-link {
  color: #fff;
}
.navbar-brand {
  color: #fff;
  line-height: 30px;
  letter-spacing: 2.5px;
  margin-left: 0.2em;
}
.navbar-brand > img {
  float: left;
  margin-left: 0.6em;
}
.logoicon {
  width: 1.8em;
  height: 1.8em;
}
.topfreelancer {
  margin: 5em 0;
}
h1, .paraf-white {
  color: #fff;
  padding-bottom: 0.5em;
}
h1 {
  font-size: 3.3em;
}
.paraf-blanc {
  font-family: Serif;
  font-size: 1.7em;
  padding-bottom: 1em;
}
.btn-blanc {
  color: #8383B5;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 3em;
  padding-right: 3em;
  letter-spacing: 0.2em;
}
/*fin header*/
.border {
  border-right: 1px solid #8383B5;
}
/*début simple pricing*/
.background {
  background-color: rgb(242, 242, 242);
  height: 19em;
}
h3 {
  color: #a19d9d;
}
.dollar {
  float: left;
}
.dollar p {
  color: #8383B5;
  font-size: 4.5em;
  font-weight: 500;
}
.pairpaidinvoice {
  font-size: 2.0em;
  line-height: 2.1em;
  margin-bottom: 0;
}
.transaction {
  line-height: 0.5em;
  color: #a19d9d;
  font-size: 1.1em;
}
.top-freelancer1 {
  margin-top: 5em;
}
/*fin simple pricing*/
/*début creditcards*/
.creditcards {
  background-color: #696969;
  padding: 1.5em 0;
}
.creditcards p {
  color: #fff;
  font-size: 1.3em;
  margin: 0;
}
/*fin creditcards*/
/*début 2X6*/
.border-grey {
  border-bottom: 1px solid #9b93d0;
}
.color-blue {
  background-color: #71d7f9;
  overflow: hidden;
}
.color-violet {
  background-color: #9b93d0;
  overflow: hidden;
}
.resize-image-1 {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 60%;
  transform: translateY(19%);
}
.vertical-center {
  position: relative;
  top: 6.5em;
  bottom: 6.5em;
}
.col-md-8 h4 {
  font-size: 1.7em;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
}
.col-md-8 p {
  font-size: 1.25em;
  color: #696969;
}
/*fin 2X6*/
